name: Run Specific Python Script

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "MLProject/preprocessed_data.csv"
  TARGET_VAR: "NObeyesdad"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
          pip install -q dagshub 'mlflow>=2,<3'

      - name: Start local MLflow Tracking Server (as a background service)
        run: |
          mlflow ui --host 0.0.0.0 --port 5000 &
          echo "MLFLOW_TRACKING_URI=http://localhost:5000" >> $GITHUB_ENV
          sleep 5

      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLproject --env-manager=local 
